* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-width: calc(80vw);
}

@media (min-width: 500px) {
  :root {
    --container-width: 400px;
  }
}

html {
  scroll-snap-type: y mandatory;
}

.App {
  background-color: black;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.app__videos {
  /* height: 100vh;
  max-height: 800px; */
  aspect-ratio: 9/16;
  width: 80%;
  max-width: var(--container-width);
  border: 1px solid black;
  border-radius: 20px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

.app__videos::-webkit-scrollbar {
  display: none;
}

.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
